/* defult-css */
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

img{
    width: 100%;
}
.fixed-width{
    width: 1240px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/* header */
.header{
    background-color: #74b9ff;

}
.header .header-left{
    float: left;
    width: 30%;
    height: auto;
}
.header .header-left img{
    width: 23%;
    color: white;
}  
.header .header-right{
    float: right;
    width: 70%;
}
.header .header-right ul{
    text-align: right;
}

.header .header-right ul li{
    display: inline-block;
    border-right: 1px solid white;
    margin-right: -4px;
} 
.header .header-right ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 15px;
    line-height: 60px;
    transition: .4s;
    line-height: 72px;

}
.header .header-right ul li a:hover{
    background-color: #0984e3;
}
.header .header-right ul li:nth-child(6){
    border-right: none !important;
}

/* banner-section */
.banner-caption{
    background: url(./image/banner-image.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0px;
}
.banner-caption h2{ 
    background-color: #989897;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}
.banner-caption h1{
    background-color: #7fbce8;
    color: white;
    max-width: 229px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
}

/* about-section */
.about{
    background-color: #ededed;
}
.about-section{


}
.about-section h2{
    font-size: 35px;
    padding: 35px 0px 0px 0px;
}
.about-section p{
    font-size: 15px;
    padding: 9px 0px 53px 0px;
    width: 50%;
    display: inline-block;
    margin: auto;
}



/* service-section */
.service{
    margin-top: 60px;
    background-color: #fdfdfd;
}
.service .service-item{
    float: left;
    text-align: center;
    width: 31.33%;
    border: 1px solid gray;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
}
.service .service-item span{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #2a90e0;
    color: white;
    margin: auto;
    font-size: 35px;
    line-height: 50px;
    padding: 7px;
    border-radius: 20px 0px 20px 0px;
    margin: 15px auto;
}
.service .service-item h3{
    font-size: 30px;
}
.service .service-item p{
    font-size: 15px;
    padding: 20px 0px;
}

/* blog-section */
.blog-container{
    background-color: #f6f6f6;
    padding-top: 40px;
}


.blog-left-content{
    float: left;
    width: 70%;
}

.blog-left-notification{
    float: right;
    width: 25%;
}
.blog-left-content .blog-item{
    margin-bottom: 17px;
}
.blog-left-content .blog-item img{
    float: left;
    width: 120px;
    height: auto;
    margin-right: 15px;
}
.blog-left-content .blog-item p{
    text-align: justify;
    font-size: 15PX;
}

.blog-left-notification{

}
.blog-left-notification h2{
    font-size: 20px;
    
}
.blog-left-notification ul{
    
}
.blog-left-notification ul li{
    list-style: none;
    font-size: 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 6px;
    background: #f8f8f8;
    border-radius: 5px;
    
}




/* footer-section  */
.footer{
    background-color: black;
    padding: 5px 0px;
    margin: 10px 0px;
    color: white;
}
.footer .footer-left{
    float: left;
    width: 40%;
}
.footer .footer-left p{
    font-size: 20px;
    padding: 10px 0px;
}
.footer .footer-right{
    float: right;
    width: 60%;
}
.footer .footer-right ul{
    
}
.footer .footer-right ul li{
    list-style: none;
    float: right;
    padding: 10px 10px;
}
.footer .footer-right ul li a{
    color: white;
    font-size: 20px;
}

.social-menu{
    text-align: right;
   

}